.Faq {
    margin-bottom: 50px;
}

.Faq table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.Faq td {
    padding-bottom: 20px;
}

.Faq tr#pair {
    background-color: #1fbbe8;
    color: white;
}

.Faq tr#unpair {
    background-color: #F4F7FA;
}

.Faq .Question {
    font-weight: bold;
}

.Faq .Answer {
    font-style: italic;
}

.Faq img {
    max-width: 100%;
    height: auto;
}

.Faq span#keyword {
    background-color: yellow;
}
