<div class="Faq">
    <table>
        <bx_repeat:faq>
            <tr class="Question" id="__RowId__">
                <td>
                    <bx_if:pictoUrl>
                        <img src="__url__" title="__title__" />
                    </bx_if:pictoUrl>
                </td>
                <td>__Rank__.</td>
                <td>__Question__</td>
            </tr>
            <tr class="Answer" id="__RowId__">
                <td></td>
                <td></td>
                <td>__Answer__</td>
            </tr>
            <bx_if:feedbackAppear>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <bx_text:_mg_faq_feedback />
                        <a href="javascript:;" onclick="feedback(__id__, 'yes');"><bx_text:_Yes /></a>
                        <a href="javascript:;" onclick="feedback(__id__, 'no');"><bx_text:_No /></a>
                        <bx_if:isLogged>
                            <a href="m/faq#suggForm"><bx_text:_mg_faq_feedbackSugg /></a>
                        </bx_if:isLogged>
                    </td>
                </tr>
            </bx_if:feedbackAppear>
        </bx_repeat:faq>
    </table>
</div>
